.body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  margin-right: 1px; /* Small space between buttons */
}

.tab:hover:not(.active) {
  background-color: #f0f0f0;
}

.tab.active {
  color: #007bff; /* Primary color for active tab */
  border-bottom: 3px solid #007bff;
  font-weight: 600;
}
